@function strip-unit($number) {
    @if type_of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
}

@mixin unitize($property, $value, $baseValue: $font-size-base) {
    $emCalcValue: #{$value / strip-unit($baseValue)}rem;

    #{$property}: #{$value}px;
    #{$property}: $emCalcValue;
}

@mixin unitize-margin($top, $right, $bottom: $top, $left: $right, $baseValue: $font-size-base) {
    $marginPx: #{$top}px #{$right}px #{$bottom}px #{$left}px;
    $marginEmCalc: #{$top / strip-unit($baseValue)}rem #{$right / strip-unit($baseValue)}rem #{$bottom / strip-unit($baseValue)}rem #{$left / strip-unit($baseValue)}rem;

    margin: $marginPx;
    margin: $marginEmCalc;
}

@mixin unitize-padding($top, $right, $bottom: $top, $left: $right, $baseValue: $font-size-base) {
    $paddingPx: #{$top}px #{$right}px #{$bottom}px #{$left}px;
    $paddingEmCalc: #{$top / strip-unit($baseValue)}rem #{$right / strip-unit($baseValue)}rem #{$bottom / strip-unit($baseValue)}rem #{$left / strip-unit($baseValue)}rem;

    padding: $paddingPx;
    padding: $paddingEmCalc;
}

@mixin unitize-width($value, $baseValue: $font-size-base) {
    $emCalcValue: #{$value / strip-unit($baseValue)}rem;

    width: #{$value}px;
    width: $emCalcValue;
}

@mixin unitize-height($value, $baseValue: $font-size-base) {
    $emCalcValue: #{$value / strip-unit($baseValue)}rem;

    height: #{$value}px;
    height: $emCalcValue;
}

@mixin unitize-max-width($value, $baseValue: $font-size-base) {
    $emCalcValue: #{$value / strip-unit($baseValue)}rem;

    max-width: #{$value}px;
    max-width: $emCalcValue;
}

@mixin unitize-max-height($value, $baseValue: $font-size-base) {
    $emCalcValue: #{$value / strip-unit($baseValue)}rem;

    max-height: #{$value}px;
    max-height: $emCalcValue;
}

@mixin unitize-min-width($value, $baseValue: $font-size-base) {
    $emCalcValue: #{$value / strip-unit($baseValue)}rem;

    max-width: #{$value}px;
    max-width: $emCalcValue;
}

@mixin unitize-min-height($value, $baseValue: $font-size-base) {
    $emCalcValue: #{$value / strip-unit($baseValue)}rem;

    min-height: #{$value}px;
    min-height: $emCalcValue;
}

@mixin unitize-border($value, $type: solid, $color: #333, $baseValue: $font-size-base) {
    $emCalcValue: #{$value / strip-unit($baseValue)}rem;

    border: #{$value}px $type $color;
    border: $emCalcValue $type $color;
}